body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #61afdf;
    margin: 0;
    font-family: Arial, sans-serif;
}

.stopwatch {
    text-align: center;
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    background-color: #e73bcd; /* Initial color */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f73; /* Color on hover */
}

#reset {
    background-color: #f44336; /* Different initial color for reset button */
}

#reset:hover {
    background-color: #ba000d; /* Different color on hover for reset button */
}
